body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form {
  
  background-color: #f2f2f2;
  border-radius:5px;
  box-shadow: 0 2px 2px rgb(red, green, blue);
  padding:20px;
  margin:20px;
  text-align: centre;
}
.form-group{
 margin-bottom:20px;
  text-align:left;
}
label{
  display:block;
  margin-bottom: 5px
  font-size 1.2em;
}